# Task1 所需的LLM的API
DEEPSEEK_API="your-api-key"
DEEPSEEK_URL_OPENAI="your-api-target-url"
DEEPSEEK_MODEL="your-model-name"

# 目标网站和应用
TARGET_APP_DOCS_URL="https://docs.4gaboards.com/"
TARGET_APP_DEMO_URL="https://demo.4gaboards.com/"

# 工具模型，包括Embedding和Reranking Model
TOOL_API="your-api-key"
TOOL_EMBEDDING_MODEL="your-embedding-model-name"
TOOL_RERANKING_MODEL="your-reranking-model-name"
TOOL_API_URL_OPENAI="your-api-target-url"

# Task2 所需的用于访问网站的身份验证的信息
4GABOARD_ACCOUNT="your-account"
4GABOARD_PASSWORD="your-account-pwd"
4GABOARD_CLIENT_ID="your-client-id"
4GABOARD_PWD="your-client-pwd"

# Task2的Agent可能需要利用视觉功能来进行调整
MM_MODEL_NAME="your-multimodel-model-name"
MM_MODEL_API="your-api-key"
MM_MODEL_TARGET_URL="your-api-target-url"



# 检索策略: "embedding" (RAG) 或 "page_index" (关键词/标题匹配)
# RETRIEVER_MODE=page_index